body{
		margin-bottom: 40px;
		
	}

	#container{
		display: grid;
		width: 80%;
		margin:0 auto;
		grid-template-columns: 2fr 1fr ;
		grid-template-rows: repeat(2 ,auto);
		grid-gap: 10px;
		
	}
	#container h1{
		padding: 5px;
		color:#EE4266;
		font-family: 'Lora', serif;
		margin: 0;
	}
	header{
		background:#3BCEAC;
		display: grid;
		padding: 30px 0;
		grid-column: 1/3;
		
	}
	header .name{
		text-align: center;
		font-size: 50px;
		color: #FFD23F;
		font-family: 'Dancing Script', cursive;
	}

	nav{
		
		display: grid;
		grid-template-rows: 1fr  150px  100px;
		grid-template-columns: 1fr;
		grid-gap: 5px;
	}
	
	nav .experience{
		padding: 0 10px;
	}

	
	nav .experience ol > li
	{
    	padding: 5px;
    	color: #540D6E;
    	font-family: 'Libre Baskerville', serif;
	}
	nav .experience ol > li span
	{
		color: #0EAD69;
	}

	nav .education{
		
		padding-top:  10px;
		padding-left: 10px;
				
	}
	nav .education .degree{
		padding: 10px 25px ;
		font-size: 15px;
		color: #0EAD69;
		font-family: 'Libre Baskerville', serif; 

	}
	
	

	aside{
		
		padding:  0 10px;
		display: grid;
		grid-template-rows: repeat(4 , auto);
		grid-gap: 10px;
		border-left: #FFD23F solid 5px;
	}
	
	aside .contact .info{
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: repeat(3 , 1fr);
		font-family: 'Libre Baskerville', serif; 
		font-size: 13px;
		color: #3BCEAC;
		padding:  5px 15px;

	}
	.info h5{
		color: #540D6E;
		font-weight: bold;
		margin: 0;
	}
	.profile > div {
		font-family: 'Libre Baskerville', serif; 
		color:#3BCEAC;
		font-size: 15px;
		padding:  5px 15px;
	}
	 .skill-info {
	 	padding: 0 25px;
		color:#3BCEAC;
		display: grid;
		grid-template-columns:1fr 3fr;
		grid-gap: 5px;
	}
	.skill-info .percentage:nth-child(even){
		background-color: #FFD23F;
		
	}
	.skill-info .percentage .pcolor{
		background-color: #EE4266;
		color:#FFD23F;
	}
	.skill-info .percentage .p100{
		width: 100%;
		
	}
	.skill-info .percentage .p90{
		width: 90%;
		
	}
	.skill-info .percentage .p80{
		width: 80%;
		
	}
	.skill-info .percentage .p70{
		width: 70%;
		
	}
	
	.interest-info > div{
		font-family: 'Libre Baskerville', serif; 
		color:#3BCEAC;
		font-size: 15px;
		padding:  5px 15px;
	}